<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <header>
        <h1>PÁGINA PRINCIPAL</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>

        <div class="dark-mode-toggle">
            <a onclick="mensagem()">
                <img src="corvo.png" alt="Dark Mode">
            </a>
        </div>

    </header>

    <div class="content">
        <h2>Bem-vindo à Página Home</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae purus consequat, vehicula libero eu, suscipit metus. Lorem ipsum dolor sit amet consectetur adipisicing elit. A officiis suscipit neque minus, expedita excepturi ipsum laudantium magnam, adipisci nam totam unde natus quos voluptatibus hic quae explicabo nulla sapiente! Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sed dignissimos quasi veniam ipsam, sit omnis iusto nihil voluptates. Nostrum corporis consectetur harum, debitis fugit perferendis nobis repellat dignissimos quidem. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et pariatur illum numquam labore repellat odio esse fugiat deserunt cupiditate expedita commodi perferendis aspernatur est harum id molestias, saepe similique possimus? Lorem ipsum dolor sit</label></p>

        <a href="/vermelho">PÁGINA VERMELHA</a>
        <br>
        <a href="/pca">PÁGINA PCA</a>

    </div>

    <footer>
        <p>&copy; 2024 Meu Site. Todos os direitos reservados.</p>
    </footer>

    <script>
        function mensagem() {
            alert("Você clicou no pássaro!");
        }
    </script>

</body>
</html>
