<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCA</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <header>
        <h1>PÁGINA DO PCA</h1>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Sobre</a></li>
                <li><a href="">Contato</a></li>
            </ul>
        </nav>

    </header>

    <div class="content">
        <h2>PRINCIPAL COMPONENT ANALYSIS - PCA</h2>
        <p>PCA significa Análise de Componentes Principais (Principal Component Analysis, em inglês). É uma técnica estatística utilizada para simplificar a complexidade em conjuntos de dados de alta dimensão, reduzindo o número de variáveis ​​ao mesmo tempo em que preserva a maior quantidade possível de informações. O PCA realiza essa redução de dimensionalidade transformando os dados originais em um novo conjunto de variáveis não correlacionadas chamadas de componentes principais. Esses componentes principais são ordenados de forma que o primeiro capture a maior quantidade possível de variância nos dados, o segundo capture a segunda maior quantidade de variância e assim por diante. PCA é amplamente utilizado em várias áreas, incluindo análise de dados, reconhecimento de padrões, visão computacional, entre outros.</p>

        <br>

        <h2>GRÁFICO DO PCA</h2>
        <p>PCA reduz a dimensionalidade dos dados projetando-os em um novo espaço de menor dimensão, enquanto tenta preservar a maior quantidade possível de variância dos dados originais. Quando você reduz os dados para duas dimensões usando PCA, está essencialmente encontrando um novo conjunto de eixos ortogonais (ou componentes principais) nos quais os dados podem ser representados de forma mais compacta.</p>

        <br>

        <h2>{{ nome }}</h2>
        <img src="{{imagem}}" alt="grafico pca" class="pca">
        <p>Amostragem de: <strong>{{amostragem}}</strong></p>
        <p>Tempo de processamento: <strong>{{tempo}}</strong></p>
        <p>Desempenho de: <strong>{{desempenho}}</strong></p>

        <br>

        <a href="/" class="links">VOLTAR PARA HOME</a>

    </div>

    <footer>
        <p>&copy; 2024 Meu Site. Todos os direitos reservados.</p>
    </footer>


</body>
</html>
