body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #4f46e5;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}



header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.content {
    text-align: justify;
    max-width: 600px;
    margin: 0 auto; 
    padding:  40px 50px 120px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.dark-mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
}

.dark-mode-toggle img {
    width: 100px;
    height: 100px;
}

.pca {
    width: 500px;
    height: 500px;
}

