body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa; /* Cor de fundo da página */
}

div {
    text-align: center;
}

#image {
    width: 200px; /* Largura da imagem */
    height: 200px; /* Altura da imagem */
    margin-bottom: 10px; /* Espaçamento abaixo da imagem */
}

#mensagem {
    font-size: 24px; /* Tamanho da fonte do título */
    color: #dc3545; /* Cor do título */
    margin-bottom: 10px; /* Espaçamento abaixo do título */
}

#texto {
    font-size: 16px; /* Tamanho da fonte do texto */
    color: #6c757d; /* Cor do texto */
}
